:root {
  /* Colores */
  --color-light-blue: #d4e4e8;
  --color-green: #008438;
  --color-red: #b70000;
  --color-blue: #173751;
  --color-white: hsla(0, 0%, 100%, 1);
  /* --color-light: #D7D5D3; */
  /* --color-light: #e2e2e2; */
  --color-light: #EBEFF2;
  --color-eerie-black: #1D1D1B;

  /* Font Size */

  --fs-1: 6.2rem;
  --fs-2: 4.4rem;
  --fs-3: 3.8rem;
  --fs-4: 3.4rem;
  --fs-5: 3rem;
  --fs-6: 2.5rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.4rem;
  --fs-10: 2.4rem;

  /* Font Weight*/

  --weight-semiBold: 600;
  

  /*Box Shadows*/

  --shadow-1: 0 4px 6px var(--color-eerie-black);
  --shadow-2: 4px 4px 0px var(--color-eerie-black);
  --shadow-3: 2px 2px 0px var(--color-eerie-black);

  /* Transition */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;

  --color-background: var(--color-white);

  --section-gap: 160px;

  /* Padding */
  --padding-inline-section: calc(12px + 2vw); 
  --padding-block-section: 60px; 

  --padding-block-1: 3rem;
  --padding-block-2: 2rem;
  --padding-block-3: 1rem;

}

/* Fonts */
@font-face {
  font-family: 'Conceta';
  src: url(../assets/fonts/conceta.ttf) format(opentype);
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url(../assets/fonts/HelveticaNeue-Light.eot) format('embedded-opentype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  color: var(--color-eerie-black);
  background-color: var(--color-light-blue);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family: 'Helvetica Neue Light', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

ion-icon {
  pointer-events: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  :root {
    --fs-4: 4.2rem;
    --fs-2: 7.8rem;
    --fs-3: 6.6rem;
  }
}

@media (min-width: 1400px) {
  :root {
    --fs-2: 9rem;
  }
}
