@import './base.css';

.container {
  padding-inline: var(--padding-inline-section);
}

.shape {
  display: none;
}

.title {
  font-family: "Conceta", sans-serif;
  font-weight: var(--weight-semiBold);
  line-height: 1.2;
  color: var(--color-blue);
}

.h1 {
  font-size: var(--fs-2);
}

.h2 {
  font-size: var(--fs-3);
}

.h3 {
  font-size: var(--fs-5);
}

.h4 {
  font-size: var(--fs-6);
}

.btn {
  /* background-color: var(--color-light); */
  display: flex;
  align-items: center;
  max-width: max-content;
  min-width: max-content;
  padding: 15px 30px;
  border: 1px solid var(--color-eerie-black);
  box-shadow: var(--shadow-2);
  /* font-weight: var(--weight-semiBold); */
  transition: var(--transition-1);
  border-radius: 30px;
}

.btn:is(:hover, :focus-visible) {
  box-shadow: none;
  background-color: var(--color-eerie-black);
  color: var(--color-light)
}

.btn-primary,
.btn-secondary {
  gap: 5px;
  text-transform: uppercase;
}

:is(.btn-primary, .btn-secondary) ion-icon {
  font-size: 2rem;
  transform: rotate(-45deg);
}

.btn-primary:is(:hover, :focus-visible) {
  color: var(--color-green);
}

.btn-secondary {
  background-color: var(--color-light);
}

.btn-secondary:hover {
  background-color: var(--color-eerie-black);
  color: var(--color-light-blue);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--color-green);
  overflow: hidden;
  margin-top: 5rem;
  /* height: auto; */
  /* width: 500px; */
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.section {
  padding-block: var(--padding-block-section);
  border-bottom: 10px solid var(--color-light);
}

.text-center {
  text-align: center;
}

.section-title {
  margin-block-end: 2rem;
}

.product-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-9);
  gap: 8px;
  opacity: 0;
}

.product-btn ion-icon {
  font-size: 1.4rem;
}

.product-card:is(:hover, :focus-within) .product-btn {
  opacity: 1;
}

.product-card .card-banner {
  position: relative;
}

.product-card .card-content {
  margin-block-start: 30px;
}

.product-card .card-title:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.product-card .price {
  color: var(--color-red);
  font-size: var(--fs-7);
  font-weight: var(--weight-semiBold);
  margin-block-start: 10px;
}

.has-scrollbar {
  display: flex;
  align-items: center;
  gap: 40px;
  scroll-snap-type: inline mandatory;
  overflow-x: auto;
}

.has-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 576) {
  .container {
    /* max-width: 540px; */
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .container {
    /* max-width: 720px; */
  }

  .btn {
    padding: 20px 50px;
  }

  .section {
    /* padding-block: 150px; */
  }

  .scrollbar-item {
    min-width: calc(50% - 20px);
  }

  .product-btn {
    padding: 15px 30px;
  }
}

@media (min-width: 992px) {
  .container {
    /* max-width: 960px; */
  }
}

@media (min-width: 1200px) {
  .container {
    /* max-width: 1140px; */
  }

  .scrollbar-item {
    min-width: calc(33.33% - 40px);
  }

  .shape {
    display: block;
    /* position: absolute; */
  }

}

@media (min-width: 1400px) {
  .container {
    /* max-width: 1320px; */
  }
}